<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contactus.css">
    <title>Contact Us</title>
</head>

<body>

    <div class="row">
        <div class="column">
            <div class="card">

                <div class="container">
                    <h2 style="text-align:center">Our Team</h2>
                    <h1>About Us Page</h1>
                    <p>Some text about who we are and what we do.</p>
                    <p>Resize the browser window to see that this page is responsive by the way.</p>


                    <h2>Devansh Srivastava</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Devansh is our honurable CEO</p>
                    <p>devansh@codechat.com</p>
                    <p><button class="button">Contact</button></p>
                    <h2>Mahesh</h2>
                    <p class="title">Art Director</p>
                    <p>mahesh@codechat.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>